chromadb
gradio
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
litellm
numpy
openai
pandas
plotly
pydantic
python-dotenv
scikit-learn
tenacity
tiktoken
tqdm
ipykernel
jupyterlab
sentence-transformers
groq
pymupdf
gTTS
langchain
